<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<!--<form action="#" th:action="@{/addAlbum}" th:object="${get}" >-->
<!--    <fieldset>-->
<!--        <legend>Add Your Album</legend>-->
<!--    <input type="text" th:field="*{title}"placeholder="Title"/>-->
<!--    <input type="text" th:field="*{artist}"placeholder="Artist"/>-->
<!--    <br>-->
<!--    <input type="number" th:field="*{songCount}"placeholder="Song Count"/>-->
<!--    <input type="number" th:field="*{length}"placeholder="Length"/>-->
<!--    <input type="text" th:field="*{imageUrl}"placeholder="Image Url"/>-->
<!--    <p>-->
<!--        <input type="submit" value="Submit"/> <input type="reset" value="Reset">-->
<!--    </p>-->
<!--    </fieldset>-->
<!--</form>-->
</body>
</html>